.genotype-red,
.genotype-yellow,
.genotype-green {
	font-weight: bold;
}
.genotype-red {
	background-color: #ffc7ce;
	/*color: #9c0006;*/
}
.genotype-yellow {
	background-color: #ffeb9c;
	/*color: #9c6500;*/
}
.genotype-green {
	background-color: #c6efce;
	/*color: #006100;*/
}
.table-lined, .table-padded {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 2em;
	border: 2px #777 solid;
}
.table-lined td, .table-lined th {
	border: 1px #777 solid;
	padding: 5px 0;
	text-align: center;
}
.table-lined thead td, .table-lined thead th {
	border: 2px #777 solid;

} 
.table-padded td, .table-padded th {
	padding: 30px 0;
}
.table-lined td.cell-unlined, .table-lined th.cell-unlined {
	border: none;
	background-color: #ddd;
}
@media print {
	.genotype-red {
		background-color: #ffc7ce !important;
		color: #9c0006;
		-webkit-print-color-adjust: exact; 
	}
	.genotype-yellow {
		background-color: #ffeb9c !important;
		color: #9c6500;
		-webkit-print-color-adjust: exact; 
	}
	.genotype-green {
		background-color: #c6efce !important;
		color: #006100;
		-webkit-print-color-adjust: exact; 
	}
	.table-lined, .table-padded {
		margin-bottom: 1em;
	}
}
.fa-check, .fa-money, .fa-usd, .fa-plus-square, .fa-thumbs-up {
	color: #3c763d;
}
.fa-times, .fa-minus-square, .fa-thumbs-down, .fa-ban {
	color: #a94442;
}
.chart {
  width: 100%; 
  min-height: 450px;
  text-align: center;
  position: relative;
}
.chart i.fa-spin {
	margin-top: 200px;
}
body {
	padding-top: 70px;
}
table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}
h1 {
	font-size: 24px;
}
h2.question {
	font-style: italic;
	font-size: 18px;
}
tr.row-header {
	background-color: #666 !important;
	color: white !important;
}
tr.row-header:hover {
	background-color: black !important;
	color: white !important;
}
.table-stats td, .table-data th, .table-data td {
	text-align: center;
	font-family: 'Roboto Mono','Consolas','Courier New','Lucidia Console','Lucidia Sans Typewriter','Monaco','Andale Mono',monospace;
}
.table-stats td.info, .table-stats .info td {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}
.fa-chevron:before {
	content: "\f139";
}
.collapsed > .fa-chevron:before {
	content: "\f13a";
}
.table-center-headers>thead>tr>th,
.table-center-body-headers>tbody>tr>th {
	text-align: center;
	vertical-align: middle;
}
.table-center-cells>thead>tr>td,
.table-center-cells>tbody>tr>td {
	text-align: center;
	vertical-align: middle;
}
.heavy-left {
	border-left: solid 3px #555 !important;
}
.heavy-right {
	border-right: solid 3px #555 !important;
}
.heavy-top {
	border-top: solid 3px #555 !important;
}
.heavy-bottom {
	border-bottom: solid 3px #555 !important;
}
.heavy-all {
	border: solid 3px #555 !important;
}
.mid-left {
	border-left: solid 2px #999 !important;
}
.mid-right {
	border-right: solid 2px #999 !important;
}
.mid-top {
	border-top: solid 2px #999 !important;
}
.mid-bottom {
	border-bottom: solid 2px #999 !important;
}
.mid-all {
	border: solid 2px #999 !important;
}
.thin-left {
	border-left: solid 1px #ccc !important;
}
.thin-right {
	border-right: solid 1px #ccc !important;
}
.thin-top {
	border-top: solid 1px #ccc !important;
}
.thin-bottom {
	border-bottom: solid 1px #ccc !important;
}
.thin-all {
	border: solid 1px #ccc !important;
}
.chart-dl-btn {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	color: #fff;
	background: #f39c12;
	border-radius: 25%;
	padding: 0.5em;
}
.sig {
	background-color: #d9ead3;
}
.insig {
	background-color: #f4cccc;
}